header {
  background-image: url(../images/Different-Weather-Types.jpeg);
}

.favorable {
background-color: green;
}

.moderate {
  background-color: yellow;
}

.severe {
  background-color: red;
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
}